# Python cache
*__pycache__*

# VS Code config
.vscode

# PyCharm config
.idea

# Virtual environments directory
envs

# Temp and log files
*.log

# Project specific directories
data/*
out
notebooks
experiments/fedes/data

# mypy cache
*.mypy_cache

# My utility files and directories
.NOTES
doc/report
*__copy__*

# License
LICENSE