# Python cache
*__pycache__*

# VS Code config
.vscode

# PyCharm config
.idea

# Virtual environments directory
envs
.envs

# Temp and log files
*.log

# Project specific local directories
data/*
out

# mypy cache
*.mypy_cache

# My utility files and directories
.NOTES
doc/*.md