# Python cache
*__pycache__*

# Virtual environments directory
envs
.envs

# Temp and log files
*.log

# Project specific local directories
data/*
out

# My utility files and directories
.NOTES
doc/*.md