# Library dependencies
flwr==1.1.0
numpy
overrides
ray>=2.3.0

# Development tools
black
coverage
docformatter
isort
flake8

# Documentation tools
sphinx
sphinx-rtd-theme

# Tools required by tests and experiments
ipykernel
jupyter
matplotlib
pandas
scikit-learn
torch
torchvision
