# Library dependencies
flwr[simulation]==1.0.0
numpy
overrides

# Development tools
black
coverage
docformatter
isort
flake8
mypy
pylint

# Tools required by tests and experiments
ipykernel
jupyter
matplotlib
pandas
scikit-learn
torch
torchvision
